In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mockaroo_data.csv')
df.to_csv('/home/jovyan/stagingarea/mockaroo_copied.csv', index=False)

In [3]:
df.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Rochester,Manhood,rmanhood0@gmpg.org,Male,115.29.241.78
1,2,Elizabet,Flattman,eflattman1@upenn.edu,Female,142.209.101.34
2,3,Mersey,Taylot,mtaylot2@google.it,Female,112.19.32.138
3,4,Krystalle,Scotchbrook,kscotchbrook3@illinois.edu,Female,107.255.78.15
4,5,Stefa,Wilshaw,swilshaw4@sitemeter.com,Female,234.97.47.3